.interna-portifolio {
    background: url("./img/back-portifolio.jpg") no-repeat center;
    background-size: cover;
}

.quote-externo {
    color: #689696;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote-externo p {
    font-style: italic;
    font-size: 14px;
}